<%- include('partials/header') %>
    <main>
<h1>Liste des promos</h1>
<ul class="cards">
    
        <li class="card card--label"><a href="promo.html">Promo 1</a></li>
    
        <li class="card card--label"><a href="promo.html">Promo 2</a></li>
    
        <li class="card card--label"><a href="promo.html">Promo 3</a></li>
    
        <li class="card card--label"><a href="promo.html">Promo 4</a></li>
    
        <li class="card card--label"><a href="promo.html">Promo 5</a></li>
    
        <li class="card card--label"><a href="promo.html">Promo 6</a></li>
    
</ul>
</main>
<%- include('partials/footer') %>